@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Lora:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar{
  display: none;
}
.skeleton::-webkit-scrollbar{
  display: none;
}
.ing::-webkit-scrollbar{
  @apply w-4 
}
.category::-webkit-scrollbar{
 @apply w-4 
}
.category::-webkit-scrollbar-thumb {
  @apply rounded-xl bg-gradient-to-r from-gray-600 via-slate-500 to-slate-600
}

 .ing::-webkit-scrollbar-thumb {
  @apply rounded-xl bg-gradient-to-r from-gray-600 via-slate-500 to-slate-600
}

.fav::-webkit-scrollbar{
  @apply w-4 
}
.fav::-webkit-scrollbar-thumb{
  @apply rounded-xl bg-slate-500
}

.popular::-webkit-scrollbar-thumb{
  @apply rounded-xl bg-slate-500
}
.popular::-webkit-scrollbar{
  @apply w-4 
}
.area::-webkit-scrollbar-thumb{
  @apply rounded-xl bg-slate-500
}
.area::-webkit-scrollbar{
  @apply w-4 
}
.ingredients::-webkit-scrollbar-thumb{
  @apply rounded-xl bg-slate-500
}
.ingredients::-webkit-scrollbar{
  @apply w-4 
}


/* .image-con{
  height: 60px;
  width: 80px;
} */