@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Lora:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar{
  display: none;
}

/* .image-con{
  height: 60px;
  width: 80px;
} */